@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', sans-serif;
  --font-heading: 'Nunito', sans-serif;
  --color-neutral-100: #6b6b6c;
  --color-primary: #7d035d;
  --color-secondary: #f8bc0d;
  --color-salmon: #fc4259;
  --color-accent: #00d6db;
  --text-heading-big: 3.125rem; /*50px*/
  --text-heading-big--line-height: 1;
  --text-heading-medium: 2.5rem; /*40px*/
  --text-heading-medium--line-height: 1;
  --text-heading-small: 1.5rem; /*24px*/
  --text-heading-small--line-height: 1;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

.linear-bg {
  @apply bg-linear-to-b from-[#f6f6f6] to-[#f9f9f9];
}
